@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: unset;
}

body {
  font-family: "Roboto", sans-serif;
}

/* nav */
/* dashboard */
.dashboard {
  margin: 60px 90px 60px 15%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3%;
}
.dashboard__charts {
  grid-column: 1/span 2;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-between;
}
.dashboard__charts__3 {
  grid-column: 2/span 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3%;
}

.nav {
  background-color: #020203;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 90px 15px 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.nav__link {
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
}
.nav__activities, .nav__activities__links {
  display: flex;
  flex-direction: column;
}
.nav__activities {
  position: absolute;
  background-color: #020203;
  top: 100%;
  left: 0;
  height: 125vh;
  align-items: center;
  justify-content: space-evenly;
}
.nav__activities__links {
  gap: 40px;
}
.nav__activities__links a {
  background-color: #ffffff;
  border-radius: 6px;
  height: 64px;
  width: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav__activities__copyright {
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  color: #ffffff;
  transform: rotate(-90deg);
}

.header {
  grid-column: 1/span 3;
}
.header__title {
  font-size: 48px;
  font-weight: 500;
  line-height: 24px;
}
.header__title--red {
  color: #ff0101;
}
.header__message {
  font-size: 18px;
  margin-top: 40px;
  margin-bottom: 60px;
}

.activity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 320px;
  border-radius: 5px;
  background-color: #fbfbfb;
  padding: 20px 10px;
}
.activity__title {
  width: 90%;
  padding: 0 0 20px;
  font-size: 15px;
  font-weight: 500;
}
.activity__chart {
  font-size: 14px;
  font-weight: 500;
}
.activity__chart__tooltip {
  font-size: 10px;
  line-height: 24px;
  color: #ffffff;
  background-color: #e60000;
  padding: 6px;
  text-align: center;
}

.average {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
  height: 220px;
  border-radius: 5px;
  background-color: #ff0000;
}
.average__title {
  width: 80%;
  padding-bottom: 10px;
  font-size: 15px;
  color: #ffffff;
  line-height: 24px;
  opacity: 0.5;
}
.average__chart__tooltip {
  font-size: 10px;
  font-weight: 500;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
  padding: 6px;
  text-align: center;
}

.performance {
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282d30;
  border-radius: 5px;
}

.score {
  height: 220px;
  background-color: #fbfbfb;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.score__title {
  width: 80%;
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
  color: #20253a;
  padding-top: 25px;
}

.count {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.count__article {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fbfbfb;
  padding: 30px;
  gap: 24px;
}
.count__article__icon {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}
.count__article__icon--calorie {
  background-color: rgba(255, 0, 0, 0.07);
}
.count__article__icon--protein {
  background-color: rgba(74, 184, 255, 0.1);
}
.count__article__icon--glucide {
  background-color: rgba(249, 206, 35, 0.1);
}
.count__article__icon--lipide {
  background-color: rgba(253, 81, 129, 0.1);
}
.count__article__data {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
.count__article__unit {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: #74798c;
}

/*# sourceMappingURL=style.css.map */
