/* nav */

$color-nav-text: #ffffff;
$color-nav-logo-text: #e60000;
$color-nav-icon: #ff0101;
$color-nav-bg: #020203;
$color-nav-icon-bg: #ffffff;

/* dashboard */

$color-db-bg: #ffffff;
$color-db-h1-name: #ff0101;

$color-icon-calories: rgba(255, 0, 0, 0.07);
$color-icon-proteines: rgba(74, 184, 255, 0.1);
$color-icon-glucides: rgba(249, 206, 35, 0.1);
$color-icon-lipides: rgba(253, 81, 129, 0.1);

$radius-icon: 6px;
$size-icon: 64px;
