/* nav */

$color-nav-text: #ffffff;
$color-nav-logo-text: #e60000;
$color-nav-icon: #ff0101;
$color-nav-bg: #020203;
$color-nav-icon-bg: #ffffff;

/* dashboard */

$color-db-bg: #ffffff;
$color-db-h1-name: #ff0101;

$color-icon-calories: #ff0000;
$color-icon-proteines: #4ab8ff;
$color-icon-glucides: #f9ce23;
$color-icon-lipides: #fd5181;

$radius-icon: 6px;
$opacity-icon: 0.1;
